<!DOCTYPE html>
{%extends "login.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block ch2 %}
    <h2 id="top1" style="color:rgb(116,89,61)">管 理 员 登 录</h2>
            <form class="form" action="">
                <input class="input" type="text" value="管理员账号">
                <input class="input" type="password" value="密码"><br>
                </form>
            <div class="bottom">
                <input type="submit" class="btn" value="登录">
            </div>
    {% endblock %}
</body>
</html>